@import '../../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

* {margin: 0; padding: 0;}

#nav-header {
background-color: #F5F5F5;
height: 50px;
border-bottom: thin solid gray;
}

#Search {
  width: 350px;
  height: 28px;
  border: thin solid gray;
  margin-left: 5px;
  border-radius: 5px 5px 5px 5px;
  font-size: 15px;
  margin-bottom: 10px;
}

.fa {
  margin-top: 3px;
  margin-left: 170px;
  font-size: 35px;
}

.resources  {
  position: absolute;
  top: 15px;
  left: 563px;
  right: 0;
  bottom: 0;
  text-decoration: none;
}

a {
  text-decoration: none;
}

#sidebar {
  max-width: 275px;
  height: 503px;
  border: thin solid gray;
  margin-left: 150px;
  display: inline-block;
  float: left;
}

.profile-picture img {
  height: 236px;
  width: 237px;
background-size: cover;
border-radius: 10px 10px 10px 10px;
margin-top: 20px;
}

.Name {
  font-size: 30px;
  font-family: sans-serif;
  font-weight: bold;
}

.username {
  font-size: 25px;
  font-family: sans-serif;
  font-weight: lighter;
  color: grey;
  border-bottom: thin solid lightgrey;
  padding-bottom: 10px;
}

.lo {
  margin: 5px;
  font-size: 20px;
}

.em {
  margin: 5px;
  font-size: 20px;
}

.cl {
  margin: 5px;
  font-size: 20px;
}

.line {
  width: 275px;
  border-bottom: thin solid lightgrey;
}

#repo-container {
  width: 750px;
  height: 2500px;

  display: inline-block;
}

.repos {
  list-style-type: none;
  line-height: 80px;
  margin-top: 30px;
  margin-left: 15px;
  color: blue;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: bold;
  border-bottom: thin solid lightgrey;
}
